body{
    background: linear-gradient(rgb(250, 129, 149),rgb(124, 109, 109));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:link{
    color: purple;
}
a:visited{
    color:grey
}
#box1{
    border: 1px solid;
    border-radius: 6px;
    padding: 5px;
    height:351px;
    width: 351px;
    background: color(white);
    position:absolute;
    top: 190px;
    left: 900px;
}
a:link{
    color: purple;
}
a:visited{
    color: blue;
}
a:hover{
    color: greenyellow;
}
button{
    background-color: blueviolet;
    border: 1px double black;
    border-radius: 10px;
}
button:hover{
    box-shadow: 8px 0 8px 0;
}